<div>
    <div>
        <div class="search-help">
            <form method="GET" action="search">
                <div class="search-div">
                    <div class="form-group dont-stretch">
                        <label for="max-distance">
                            <div class="search-label">dessert after dinner: pick a restaurant within x distance from a chocolate shop</div>
                        </label>
                        <input type="text" class="form-control" name="maxDistance" id="max-distance"
                               placeholder="max distance" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            </div>
    </div> 
</div>
