


<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset search-help">
        <form class="form-inline" method="GET" action="search">
            <div class="search-div">
                <div class="form-group dont-stretch">
                    <label for="max-distance">Max distance to chocolate shop</label>
                    <input type="text" class="form-control" name="maxDistanceQuery" id="max-distance"
                           placeholder="max distance">
                </div>
                <button type="submit" class="btn btn-primary search-btn">Search</button>
            </div>
        </form>
        </div>
</div>